<?xml version="1.0" encoding="utf-8"?>
<AppConfig configSource="AppConfig.config">
    <Startup ignoreStartupTasks="False" noDatabase="True"></Startup>
    <AppInstance id="Poloniex-client"></AppInstance>
    <Tasks applicationInstanceId="Poloniex-client" enabled="False"></Tasks>
    <Markets baseCurrencies="BTC" quoteCurrencies="ETH,LTC,STR,EMC2,DOGE" watch="BTC_ETH,BTC_LTC,BTC_DOGE"></Markets>
    <Exchanges>
      <Exchange name="Poloniex">
        <ApiKey account="account1" publicKey="publicKey" privateKey="privateKey"></ApiKey>
		<ApiKey account="account2" publicKey="publicKey" privateKey="privateKey"></ApiKey>
       </Exchange>
      <Exchange name="Exmo">
        <ApiKey account="account1" publicKey="publicKey" privateKey="privateKey"></ApiKey>
      </Exchange>
      <Exchange name="Kuna">
	      <ApiKey account="account1" publicKey="publicKey" privateKey="privateKey"></ApiKey>
      </Exchange>
      <Exchange name="Binance">      
          <ApiKey account="account1" publicKey="publicKey" privateKey="privateKey"></ApiKey>
      </Exchange>
    </Exchanges>
</AppConfig>